h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:rgb(139, 15, 15);
  text-shadow: 2px 0 #291285, -2px 0 #291285, 0 2px #291285, 0 -2px #291285,
               1px 1px #ff0303, -1px -1px #520909, 1px -1px #520909, -1px 1px #520909;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: darkblue;
  text-shadow: 2px 0 #ffffff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

body {
  font-family: sans-serif;
  background: #ad0000;
  color: rgb(1, 1, 118);
}




